= form_for @guest do |f|
  - if @guest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guest.errors.count, "error")} prohibited this guest from being saved:"
      %ul
        - @guest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :address_id
    = f.number_field :address_id
  .field
    = f.label :guest_id
    = f.number_field :guest_id
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :twenty_one
    = f.check_box :twenty_one
  .field
    = f.label :eighteen
    = f.check_box :eighteen
  .actions
    = f.submit 'Save'
