%p#notice= notice

%p
  %b Street address:
  = @address.street_address
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Zip code:
  = @address.zip_code

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
